/* Popup.css */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: #0F1015;
  padding: 40px;
  border-radius: 4px;
  width: 70%;
  height: 70%;
  min-width: 50%;
  min-height: 50%;
  max-width: 90%;
  max-height: 90%;
  overflow: hidden;
  transform: scale(0.7);
  opacity: 0;
  transition: all 0.3s ease;
  animation: popIn 0.3s ease forwards;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 2px solid #f1a406;
}

.popup-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
}

.page-content {
  padding: 20px;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.image-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-height: 60%;
  overflow: hidden;
}

.popup-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.popup-footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Sliding animations */
.slide-left {
  transform: translateX(-100%);
}

.slide-right {
  transform: translateX(100%);
}

@keyframes popIn {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.popup-overlay.closing .popup-content {
  animation: popOut 0.3s ease forwards;
}

@keyframes popOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.7);
    opacity: 0;
  }
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 2;
}

.nav-button:focus {
  outline: none;
}

.nav-button.prev {
  left: 10px;
}

.nav-button.next {
  right: 10px;
}

.arrow {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-top: 3px solid #f1a406;
  border-right: 3px solid #f1a406;
  transition: border-color 0.3s ease;
}

.arrow.left {
  transform: rotate(-135deg);
}

.arrow.right {
  transform: rotate(45deg);
}

.nav-button:hover .arrow {
  border-color: #edc474;
}

/* Text styles */
.pop-Title-card {
  padding-bottom: 10px;
  font-size: 3.5vh;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10px;
  color: #edc474;
}
.label-card {
  font-size: 0.8rem; 
  color: #333351;
  font-weight: lighter;
}

.description-card {
  line-height: 1.5;
  font-size: 2.4vh !important;
  margin-top: 20px;
}

.company-card {
  font-size: 13px;
  font-weight: lighter;
  color: #9f9f9f;
}

.date-card {
  font-size: 12px;
  font-weight: lighter;
  color: #9f9f9f;
}

/* Language icons */
.language-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.language-icons .icon {
  font-size: 24px;
  margin: 0 10px;
}

.info-container {
  text-align: center;
}

/* Icon colors */
.language-icons .fa-java { color: #F80000; }
.language-icons .fa-python { color: #3776AB; }
.language-icons .fa-android { color: #3DDC84; }
.language-icons .fa-react { color: #61DAFB; }
.language-icons .fa-node-js { color: #339933; }
.language-icons .fa-database { color: #336791; }
.language-icons .fa-code { color: #E44D26; }
.language-icons .fa-hashtag { color: #68217A; }