
:root {
  --size: 10vw;
}
.App {
  margin: 0;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  height: 100vh;
  background-color: #13151a;
  padding-top: calc(var(--size) * 1.5);
  padding-bottom: calc(var(--size) * 1.5);
}

.logo {
  width: 100px;
  height: 100px;
  margin-right: calc(var(--size) * 0.5);
}

.text {
  align-items: center;
  text-align: left;
  font-size:calc(var(--size) * 0.85);
  color: #edc474;
}

#hi-text {
  font-weight: bold;
  display: block; 
}

#im-text,
#name-text {
  display: inline-block;
}
#name-text {
  color: whitesmoke;
  
}