:root {
  --size: 10vw;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  background-color: #13151a;
  padding: 2rem;
  border-radius: 1rem;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  text-align: center;
}

.titleText {
  font-weight: bold;
  font-size: calc(var(--size) * 0.35);
  color: #edc474;
}

.emailText {
  font-size: calc(var(--size) * 0.085);
  color: #9f9f9f;
  margin-top: 0.5rem;
}

.socialLinks {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.socialIcon {
  width: 40px;
  height: 40px;
}
