/* Timeline.css */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
}

body {
  background: #13151a;
  color: #fff;
  overflow-x: hidden;
  padding-bottom: 50px;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline ul {
  background: #13151a;
  padding: 100px 0;
}

/** Line **/
.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 2px;
  margin: 0 auto;
  padding-top: 40px;
  background: #fff;
  cursor: pointer;
}

/** Dot */
.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  border-radius: 20%;
  background: inherit;
  z-index: 1;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 35px;
  background: #06060b50;
  transition: all 0.3s ease;
}

.content {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.time {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/** Line dot */
.timeline ul li.in-view::after {
  background: #ffffff;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

/* TEXT */
.Title-card {
  padding-bottom: 0px;
  font-size: 24px;
  font-weight: bold;
}

.description-card {
  font-size: 15px;
}

.company-card {
  font-size: 13px;
  font-weight: lighter;
  color: #9f9f9f;
}

.date-card {
  font-size: 12px;
  font-weight: lighter;
  color: #9f9f9f;
}

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #ffffff transparent transparent;
  }
}
